<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="contra">
      <b>Actualizar contraseña</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="fondo">
    <ion-img src="assets/img/fondo.png" alt="Cozy Gate"></ion-img>
  </div>

  <div class="container">
    <br>
    <ion-img src="assets/img/cg.png" alt="Cozy Gate" class="logo"></ion-img>
      <br>
      <ion-input placeholder="Nombre de usuario" 
      label="Nombre de usuario"
      label-placement="floating" 
      fill="outline"
      error-Text="usuario incorrecto"
      class="datosNew"
      ></ion-input>

      <br>
      <ion-input placeholder="Contraseña actual" 
      label="Contraseña actual"
      label-placement="floating" 
      fill="outline"
      error-Text="contraseña incorrecta"
      class="datosNew"
      ></ion-input>

      <br>
      <ion-input placeholder="Nueva contraseña" 
      label="contraseña (6-8 dígitos)"
      label-placement="floating" 
      fill="outline"
      error-Text="Inserte de 6-8 carácteres"
      type="password"
      class="datosNew"
      ></ion-input>

      <br>
      <ion-input placeholder="Confirmar contraseña" 
      label="Confirmar contraseña"
      type="password"
      label-placement="floating" 
      fill="outline"
      error-Text="contraseña no coincide"
      class="datosNew"
      ></ion-input>
      <br>

    <div class="divBtns">
      <button ion-button (click)="goToLoginU()" class="btnAceptar"><b>Aceptar</b></button>
    </div>
    <br>
    <div class="divBtns">
      <button ion-button (click)="goToLoginU()" class="btnCancelar"><b>Cancelar</b></button>
    </div>
  </div>
</ion-content>

