/*Toolbar*/
.registroV{
    text-align: center;
    color: rgb(255, 255, 255);
  }
  ion-toolbar {
    ion-buttons[slot="start"] {
      width: 30px; /*ancho del back*/
      margin-right: 0;
    }
  
    ion-title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -30px; /*margen Izq*/
      width: calc(100% + 30px); /*ancho del Back*/
    }
  }

  ion-title {
    text-align: center;
    color: black;
    font-weight: 100;
    font-size: larger;
    display: flex;
    align-items: center;
  }

/*Ingrese*/
.h2{
  text-align: justify;
  color: #000000;
  font-size: 16px;
  margin-left: 10px;
}

/*Solicita datos*/
.txtSol{
  text-align: justify;
  color: #000000;
  font-size: 14px;
  margin-left: 10px;
}

/*Selector y Fecha*/
.select{
  width: 100%;
  max-width: 1300px; /*Ancho máximo para pantallas grandes*/
  height: 50px;
  background-color: white;
  margin-bottom: 10px;
  margin: 0 auto;
  border: 1px solid #c7c6c6;
  border-radius: 5px;
  padding: 5px;
}

/*Datos de visita*/
.visitas{
  width: 900%;
  max-width: 400px; /*Ancho máximo para pantallas grandes*/
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-bottom: 10px;
  margin: auto;
}


.inputfecha{
  width: 90%;
  max-width: 400px; /*Ancho máximo para pantallas grandes*/
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-bottom: 10px;
  margin: auto;
  border: 1px black;
}
ion-input.inputfecha{
  border: 1px solid #a5a4a4; 
  border-radius: 5px; 
  padding: 5px; 
}

/*Botones enviar y Cancelar registro*/
.boton {
    min-width: 130px;
    max-width: 400px;
    height: 40px;
    color: #000000;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    background-color: #64CCC5;
    box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;
    margin-top: 10px;
    margin-right: 10px; 
  }
  
  .div_botones {
    margin-top: 2%;
    display: flex;
    justify-content: center; 
    align-items: center;
  }

/*Ajuste a pantalla en horizontal*/
@media (min-width: 992px) {
  .datos {
    width: 100%; /*Ancho*/
    max-width: none; 
  }
}

/*Ajuste a diferentes pantallas*/
//Celular
@media (max-width: 576px) {
  ion-content {
    font-size: 14px;
    padding: 10px;
  }
    /*Ajuste a pantalla en horizontal*/
    .h2,
    .txtSol,
    .visitas,
    .inputfecha,
    .select{
      width: 200%; /*Ancho*/
      max-width: 380px;  
    }
}

 //Tablets
 @media (min-width: 577px) and (max-width: 991px) {
  ion-content {
    font-size: 16px;
    padding: 20px;
  }
    /*Ajuste a pantalla en horizontal*/
    .h2,
    .txtSol,
    .visitas,
    .inputfecha,
    .select{
      width: 800%; /*Ancho*/
      max-width: 900px;  
    }
    
}

//Computadora
@media (min-width: 992px) {
  ion-content {
    font-size: 18px;
    padding: 30px;
  }
    /*Ajuste a pantalla en horizontal*/
    .h2,
    .txtSol,
    .visitas,
    .inputfecha{
      width: 1000%; /*Ancho*/
      max-width: 1300px;  
    }
}