/*Toolbar*/
.registroV{
    text-align: center;
    color: rgb(255, 255, 255);
  }
  ion-toolbar {
    ion-buttons[slot="start"] {
      width: 30px; /*ancho del back*/
      margin-right: 0;
    }
  
    ion-title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -30px; /*margen Izq*/
      width: calc(100% + 30px); /*ancho del Back*/
    }
  }

  ion-title {
    text-align: center;
    color: black;
    font-weight: 100;
    font-size: larger;
    display: flex;
    align-items: center;
  }

/*Ingrese*/
.h2{
  text-align: justify;
  color: #000000;
  font-size: 15px;
  margin-left: 10px;
}

/*Solicita datos*/
.txtSol{
  text-align: justify;
  color: #000000;
  font-size: 14px;
  margin-left: 10px;
}

select{
    background-color: var(--ion-color-mycolor);
    border-color: white;
    border-radius: 20px;
    font-size: small;
}

/*Introducir datos*/
ion-label{
    font-size:x-small;
}
/*Datos de visita*/
.visitas{
    width: 100%;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}


.inputfecha{
    background-color: var(--ion-color-mycolor);
    border-color: white;
    border-radius: 20px;
    font-size: small;
}

.boton {
    min-width: 130px;
    height: 40px;
    color: #000000;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    background-color: #64CCC5;
    box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;
    margin-top: 10px;
    margin-right: 10px; 
  }
  
  .div_botones {
    margin-top: 2%;
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  
/*Flecha de regreso*/
.flecha{
    margin-right: 10px;
}