<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title class="registroV">
      <b>Generar visita</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <h2 class="h2"><b>Ingresa los siguientes datos:</b></h2>
  <p class="txtSol"><b>1. Nombre y apellido:</b></p>
  <ion-item>    
    <ion-input placeholder="" 
    label-placement="floating" 
    fill="outline"
    error-Text="introduzca un dato"
    class="visitas"
    ></ion-input>
  </ion-item>

  <p class="txtSol"><b>2. Tipo de visitante:</b></p>
  <ion-item>    
    <select name="visitante">
      <option>Ocasional</option>
      <option>Recurrente</option>
      <option>Servicios</option>
    </select>
  </ion-item>

  <p class="txtSol"><b>3. Fecha de visita:</b></p>
  <ion-item>    
    <input type="date" value="2023-07-07" class="inputfecha">
  </ion-item>

  <p class="txtSol"><b>4. No. de visitantes:</b></p>
  <ion-item>    
    <ion-input placeholder="" 
    label-placement="floating" 
    fill="outline"
    error-Text="introduzca el total de visitas"
    class="visitas"
    ></ion-input>
  </ion-item>
  
    <div class="div_botones">
      <button class="boton">Cancelar Registro</button>
      <button class="boton">Enviar Registro</button>
    </div>
</ion-content>