<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-card>
  <ion-grid >
    <ion-row>
      <ion-col><ion-card-title>Nombre</ion-card-title></ion-col>
      <ion-col><ion-card-title>Calle</ion-card-title></ion-col>
      <ion-col><ion-card-title>N. Casa</ion-card-title></ion-col>
      <ion-col><ion-card-title>Celular</ion-card-title></ion-col>
      <ion-col><ion-card-title>Administrar</ion-card-title></ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-card>
  <ion-grid >
    <ion-row>
      <ion-col><ion-card-title>******</ion-card-title></ion-col>
      <ion-col><ion-card-title>******</ion-card-title></ion-col>
      <ion-col><ion-card-title>******</ion-card-title></ion-col>
      <ion-col><ion-card-title>******</ion-card-title></ion-col>
      <ion-col><ion-card-title> <ion-button fill="clear"><ion-icon name="create-outline"></ion-icon></ion-button> /  <ion-button fill="clear"><ion-icon name="trash-outline"></ion-icon></ion-button></ion-card-title></ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-card>
  <ion-grid >
    <ion-row>
      <ion-col><ion-card-title>******</ion-card-title></ion-col>
      <ion-col><ion-card-title>******</ion-card-title></ion-col>
      <ion-col><ion-card-title>******</ion-card-title></ion-col>
      <ion-col><ion-card-title>******</ion-card-title></ion-col>
      <ion-col><ion-card-title> <ion-button fill="clear"><ion-icon name="create-outline"></ion-icon></ion-button> /  <ion-button fill="clear"><ion-icon name="trash-outline"></ion-icon></ion-button></ion-card-title></ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-card>
  <ion-grid >
    <ion-row>
      <ion-col><ion-card-title>******</ion-card-title></ion-col>
      <ion-col><ion-card-title>******</ion-card-title></ion-col>
      <ion-col><ion-card-title>******</ion-card-title></ion-col>
      <ion-col><ion-card-title>******</ion-card-title></ion-col>
      <ion-col><ion-card-title> <ion-button fill="clear"><ion-icon name="create-outline"></ion-icon></ion-button> /  <ion-button fill="clear"><ion-icon name="trash-outline"></ion-icon></ion-button></ion-card-title></ion-col>
    </ion-row>
  </ion-grid>
</ion-card>