<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login-ad"></ion-back-button>
    </ion-buttons>
    <ion-title class="listaH">
      <b>Lista de habitantes</b>
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="reader-sharp" (click)="GotoHist()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid class="tabla">
      <ion-row class="encabezado">
        <ion-col><ion-card-title class="datosT"><b>Nombre</b></ion-card-title></ion-col>
        <ion-col><ion-card-title class="datosT"><b>Calle</b></ion-card-title></ion-col>
        <ion-col><ion-card-title class="datosT"><b># Casa</b></ion-card-title></ion-col>
        <ion-col><ion-card-title class="datosT"><b>Celular</b></ion-card-title></ion-col>
        <ion-col><ion-card-title class="datosT"><b>Administrar</b></ion-card-title></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-grid class="tabla">
      <ion-row>
        <ion-col><ion-card-title class="datosTC">*******</ion-card-title></ion-col>
        <ion-col><ion-card-title class="datosTC">*******</ion-card-title></ion-col>
        <ion-col><ion-card-title class="datosTC">*******</ion-card-title></ion-col>
        <ion-col><ion-card-title class="datosTC">*******</ion-card-title></ion-col>
        <ion-col>
          <ion-card-title>
            <ion-button fill="clear" class="datosTC"><ion-icon name="create-outline"></ion-icon></ion-button>
            <ion-button fill="clear" class="datosTC"><ion-icon name="trash-outline"></ion-icon></ion-button>
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
