/*Toolbar*/
.listaH {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
  }
  
  .btnAg {
    background-color: transparent;
    margin-right: 10px; 
  }
  
  .datosT{
    font-size: 14px;
  }