/*Toolbar*/
.listaH {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
  }
  ion-toolbar {
    ion-buttons[slot="start"] {
      width: 30px; /*ancho del back*/
      margin-right: 0;
    }
  
    ion-title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -30px; /*margen Izq*/
      width: calc(100% + 30px); /*ancho del Back*/
    }
  }
  /*Logout
  .logout {
    margin-left: auto;
    margin-right: 16px;
  }*/

  .btnAg {
    background-color: transparent;
    margin-right: 10px; 
  }
  
  .datosT{
    font-size: 10px;
    background-color: #87CEEB;
  }
  .datosTC{
    font-size: 10px;
  }
  .icon{
    width: 10px;
    height: 10px;
  }
  /*TAbla de habitantes*/
  .tabla {
    ion-row {
      ion-col {
        ion-card-title {
          padding: 8px;
          text-align: center;
          display: flex;
          justify-content: space-around;
          align-items: center;
  
          ion-button {
            flex: 2;
            min-width: 0;
            margin: 0 1px;
          }
        }
      }
    }
  
    .encabezado {
      background-color: #87CEEB;
    }
  }