
ion-title{
    text-align: center;
    color: black;
    font-family: 'Cakerolli Medium';
    font-weight: 100;
    font-size: larger;
}

ion-toolbar{
    background-color: var(--ion-color-mycolor);
}

h2{
    padding-left: 15px;
}