<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/op1/:correo"></ion-back-button>
    </ion-buttons>
    <ion-title class="historial">
      <b>Historial de visitas</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p><b>Tus visitas creadas son las siguientes:</b></p>
  <ion-list>
    <ion-item *ngFor="let result of results">
      <ion-label>{{result.Name}} </ion-label>
      <button ion-button class="btns" (click)="Eliminar(result.Uid)"><ion-icon name="trash" class="btns"></ion-icon></button>
    </ion-item>
  </ion-list>
</ion-content>