/*Toolbar*/
.historial{
    text-align: center;
    color: rgb(255, 255, 255);
  }
  ion-toolbar {
    ion-buttons[slot="start"] {
      width: 30px; /*ancho del back*/
      margin-right: 0;
    }
  
    ion-title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -30px; /*margen Izq*/
      width: calc(100% + 30px); /*ancho del Back*/
    }
  }

/*Texto de visitas*/
p{
    text-align: justify;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 18px;
}

/*Botones trash*/
.btns{
    width: 25px;
    height: 25px;
    background-color: rgb(241, 192, 192);
    border-radius: 50%;
}

/*Ajuste a diferentes pantallas*/
//Celular
@media (max-width: 576px) {
  ion-content {
    font-size: 14px;
    padding: 10px;
  }
}

//Tablets
@media (min-width: 577px) and (max-width: 991px) {
  ion-content {
    font-size: 16px;
    padding: 20px;
  }
}

//Computadora
@media (min-width: 992px) {
  ion-content {
    font-size: 18px;
    padding: 30px;
  }
}