<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-title>
      Historial de Visitas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>Tus visitas creadas son las siguientes:</h2>
  <ion-list>
    <ion-item>
      <ion-label>1. Ismael Rojas</ion-label>
      <ion-icon name="trash-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>2. Ismael Rojas</ion-label>
      <ion-icon name="trash-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>3. Ismael Rojas</ion-label>
      <ion-icon name="trash-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>4. Ismael Rojas</ion-label>
      <ion-icon name="trash-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>5. Ismael Rojas</ion-label>
      <ion-icon name="trash-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>6. Ismael Rojas</ion-label>
      <ion-icon name="trash-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>7. Ismael Rojas</ion-label>
      <ion-icon name="trash-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>8. Ismael Rojas</ion-label>
      <ion-icon name="trash-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>