<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="historial">
      <ion-icon ion-button (click)="Back()" name="arrow-back"></ion-icon>

      <b>Historial de Visitas </b> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2><b>Tus visitas creadas son las siguientes:</b></h2>
  <ion-list>
    <ion-item>
      <ion-label>1. Ismael Rojas</ion-label>
      <button class="btns"><ion-icon name="trash" class="btns"></ion-icon></button>
    </ion-item>
    <ion-item>
      <ion-label>2. Ismael Rojas</ion-label>
      <button class="btns"><ion-icon name="trash" class="btns"></ion-icon></button>
    </ion-item>
    <ion-item>
      <ion-label>3. Ismael Rojas</ion-label>
      <button class="btns"><ion-icon name="trash" class="btns"></ion-icon></button>
    </ion-item>
    <ion-item>
      <ion-label>4. Ismael Rojas</ion-label>
      <button class="btns"><ion-icon name="trash" class="btns"></ion-icon></button>
    </ion-item>
    <ion-item>
      <ion-label>5. Ismael Rojas</ion-label>
      <button class="btns"><ion-icon name="trash" class="btns"></ion-icon></button>
    </ion-item>
    <ion-item>
      <ion-label>6. Ismael Rojas</ion-label>
      <button class="btns"><ion-icon name="trash" class="btns"></ion-icon></button>
    </ion-item>
    <ion-item>
      <ion-label>7. Ismael Rojas</ion-label>
      <button class="btns"><ion-icon name="trash" class="btns"></ion-icon></button>
    </ion-item>
    <ion-item>
      <ion-label>8. Ismael Rojas</ion-label>
      <button class="btns"><ion-icon name="trash" class="btns"></ion-icon></button>
    </ion-item>
  </ion-list>
</ion-content>