<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="perfil">
      <b>Perfil</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/icon/user.png" alt="user" class="foto-usuario">
      </ion-col>
    </ion-row>

    <ion-list>
      <ion-item>
        <p><b>Usuario: </b> {{data2.Name}}</p>
        
      </ion-item>
      <ion-item>
        <p><b>Correo:</b> {{data2.Correo}}</p>
        
      </ion-item>
      <ion-item>
        <p><b>Calle:</b> {{data2.Calle}}</p>
       
      </ion-item>
      <ion-item>
        <p><b>Número de casa:</b> {{data2.Casa}}</p>
        
      </ion-item>
      <ion-item>
        <p><b>Celular:</b> {{data2.Cel}}</p>
        
      </ion-item>
    </ion-list>
    <button ion-button (click)="cerrarSesion()" class="botonC" color="danger">Cerrar sesión</button>
  </ion-grid>
</ion-content>

<br><br>
  <!--Footer para opciones-->
  <div class="footer">
    <button class="boton"  (click)="BackToTab1()">
      <ion-icon name="qr-code"></ion-icon>
    </button>
    <button class="boton" (click)="BackToTab2()">
      <ion-icon name="home"></ion-icon>
    </button>
    <button class="boton">
      <ion-icon name="person" (click)="BackToTab3()"></ion-icon>
    </button>
  </div>  
