<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
    <ion-title class="user">
      <b>Usuarios</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo">
    <ion-img src="assets/img/fondo.png" alt="Cozy Gate"></ion-img>
  </div>
        <!--LOGO-->  
        <br>
        <ion-img src="assets/img/cg.png" alt="Cozy Gate" class="logo"></ion-img>
        <div class="inicio">
        <h1 class="tIniciar"><b>Iniciar sesión</b></h1>
        </div>
        <br>

        <!--Poner usuario-->
        <ion-input placeholder="usuario" 
        label="Usuario"
        label-placement="floating" 
        fill="outline"
        error-Text="usuario incorrecto"
        class="datos"
        ></ion-input>
        
         <!--Poner contraseña-->
        <br>
        <ion-input placeholder="contraseña* (6-8dígitos)" 
        label="Contraseña"
        label-placement="floating" 
        fill="outline"
        error-Text="contraseña incorrecta"
        type="password"
        class="datos"
        ></ion-input>

      <!--Btn SesiónUser y Registro-->
      <div class="btnSesion">
        <button ion-button (click)="goRegistroU()" class="boton">Registrarme</button>
      </div>
      <div class="btnSesion">
        <button ion-button (click)="goToTab2()" class="boton">Iniciar sesión</button>
         <button ion-button (click)="goToNewContra()" class="conOl"><b>¿Has olvidado la contraseña?</b></button>
      </div>
</ion-content>
