<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
    <ion-title class="user">
      <b>Usuarios</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo">
    <ion-img src="assets/img/fondo.png" alt="Cozy Gate"></ion-img>
  </div>
        <!--LOGO-->  
        <br>
        <ion-img src="assets/img/cg.png" alt="Cozy Gate" class="logo"></ion-img>

        <!--Poner usuario-->
        <ion-input #correo placeholder="Usuario" 
        label="Usuario"
        label-placement="floating" 
        fill="outline"
        error-Text="Usuario Incorrecto"
        class="datos"
        required
        ></ion-input>
        
        <!--Poner contraseña-->
        <br>
        <ion-input #pass placeholder="Contraseña* (6-8 dígitos)" 
        label="Contraseña"
        label-placement="floating" 
        fill="outline"
        error-Text="contraseña incorrecta"
        class="datos"
        required
        [type]="showPassword ? 'text' : 'password'">
        <!-- Ver y ocultar contraseña -->
          <ion-icon 
            slot="end" 
            name="{{ showPassword ? 'eye' : 'eye-off' }}" 
            (click)="togglePassword()"
            class="eyeP"
          ></ion-icon>
        </ion-input>

      <!--Btn SesiónUser y Registro-->
      <div class="btnSesion">
        <button ion-button (click)="goToTab2(correo,pass)" class="boton"><b>Iniciar sesión</b></button>
      </div>
      <div class="btnOlv">
        <button ion-button (click)="goToNewContra()" class="conOl"><b>¿Olvidaste tu contraseña?</b></button>
      </div>
      <div class="btnReg">
        <button ion-button (click)="goRegistroU()" class="boton"><b>Registrarme</b></button>
      </div>
</ion-content>
