/*Toolbar*/
.user {
    text-align: center;
    color: rgb(255, 255, 255);
  }
  ion-toolbar {
    ion-buttons[slot="start"] {
      width: 30px; /*ancho del back*/
      margin-right: 0;
    }
  
    ion-title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -30px; /*margen Izq*/
      width: calc(100% + 30px); /*ancho del Back*/
    }
  }
  


/*Diseño logo*/
.logo{
    width: 130px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

/*Fondo*/
.fondo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  /*Ajustar a pantallas*/
  @media (min-width: 768px) { 
    .fondo {
      justify-content: center; 
    }
  }


/*Datos*/
.datos{
    width: 90%;
    max-width: 400px; /*Ancho máximo para pantallas grandes*/
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 0px;
    margin-bottom: 10px;
}

/*Botón de IS*/
.btnSesion{
    display: flex;
    justify-content: center;
    color: black;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 400px;
    height: 30px;
    margin-top: 25px;
    background-color: #87CEEB;
}
//Botón de Registrarme
.btnReg{
  display: flex;
  justify-content: center;
  color: black;
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 400px;
  height: 30px;
  margin-top: 1px;
  background-color: #87CEEB;
}

/*Para quitar el fondo del botón*/
.boton{
    background-color: transparent;
    color: black;
}

/*Contraseña olvidada*/
.conOl{
    background-color: transparent;
    text-align: center;
    font-size: 9px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 400px;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/*Boton de contraseña*/
.btnOlv{
  display: flex;
  justify-content: center;
  color: black;
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 400px;
  height: 30px;
  margin-top: 0px;
}

ion-input{
  color:black;
}

/*Ajuste a diferentes pantallas*/
//Celular
@media (max-width: 576px) {
  ion-content {
    font-size: 14px;
    padding: 10px;
  }
}

//Tablets
@media (min-width: 577px) and (max-width: 991px) {
  ion-content {
    font-size: 16px;
    padding: 20px;
  }
}

//Computadora
@media (min-width: 992px) {
  ion-content {
    font-size: 18px;
    padding: 30px;
  }
}