/* Toolbar */
.tab2 {
  text-align: center;
  color: #fff;
}

/*Texto Bienvenida*/
.texto{
  text-align: justify;
  font-size: 16px;
}

h2 {
  text-align: center;
}

/*Ajustar a pantalla grande*/
@media screen and (min-width: 768px) {
  ion-content {
    max-width: 1500px;
    margin: 0 auto;
  }
  
  ion-card {
    display: flex;
    flex-wrap: wrap;
  }
  
  ion-card-header,
  ion-card-content {
    flex-basis: 50%;
  }
  
  ion-card-content img {
    max-width: 100%;
    height: auto;
    //margin-left: auto;
    //margin-right: auto;
  }
  
  .ion-text-center-lg {
    text-align: center;
    //margin-left: auto;
    //margin-right: auto;
  }
  
  h2.ion-text-left-lg,
  p.ion-text-left-lg {
    text-align: left;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    //margin-left: auto;
    //margin-right: auto;
  }
}

/*Ajuste a diferentes pantallas*/
//Celular
@media (max-width: 576px) {
  ion-content {
    font-size: 14px;
    padding: 10px;
  }
}

//Tablets
@media (min-width: 577px) and (max-width: 991px) {
  ion-content {
    font-size: 16px;
    padding: 20px;
  }
}

//Computadora
@media (min-width: 992px) {
  ion-content {
    font-size: 18px;
    padding: 30px;
  }
}