<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="qrT"> 
      <b>QR de Residente</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-grid>
    <ion-row>
      <ion-col>

      </ion-col>
    </ion-row>
   
    <ion-card>
      
      <ion-card-content>
        <ion-list>
          <ion-item>
            
              <img alt="Silhouette of mountains" src="assets/img/qr.png" class="QR"/>
            
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-grid>
  <ion-card color="light">
    <ion-card-header>
      
      <ion-card-subtitle> <ion-icon name="qr-code"></ion-icon> Codigo Visitante </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button ion-button (click)="GotoGenerarV()" expand="block">Generar</ion-button> 
      <ion-button ion-button (click)="GotoQR()" expand="block"> Ver Visita</ion-button>
      <ion-button ion-button (click)="GotoHist()" expand="block"> Historial</ion-button>

    </ion-card-content>
      </ion-card>
</ion-content>

