/*Toolbar*/
.qrT{
    text-align: center;
    color: rgb(255, 255, 255);
}

.QR{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}

ion-toolbar{
    background-color: var(--ion-color-mycolor);
}

h2{
    text-align: center;
}