
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-grid>
    <ion-row>
      <ion-col>

      </ion-col>
    </ion-row>
    <h2>Nombre</h2>
    <ion-card>
      
      <ion-card-content>
        <ion-list>
          <ion-item>
            
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            
            
          </ion-item>
    
         
    
         
    
         
        </ion-list>
      </ion-card-content>
    </ion-card>



    <ion-list>
      <ion-item>
        <p>Fecha</p>
      </ion-item>
      <ion-item>
        <p>Nombre</p>
      </ion-item>
      <ion-item>
        <p>Vehiculo</p>
      </ion-item>
      <ion-item>
        <p>Color</p>
       
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>