<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="perfil">
      <b>Perfil</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/icon/user.png" alt="user" class="foto-usuario">
      </ion-col>
    </ion-row>
    <h2>Nombre</h2>

    <ion-list>
      <ion-item>
        <p><b>Número de Casa</b></p>
      </ion-item>
      <ion-item>
        <p><b>Celular</b></p>
        <ion-button fill="outline">
          Editar
          <ion-icon slot="end" name="create"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <p><b>Correo Electrónico</b></p>
        <ion-button fill="outline">
          Editar
          <ion-icon slot="end" name="create"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <p><b>Usuario</b></p>
        <ion-button fill="outline">
          Editar
          <ion-icon slot="end" name="create"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
