<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/icon/user.png" alt="user" class="foto-usuario">
      </ion-col>
    </ion-row>
    <h2>Nombre</h2>

    <ion-list>
      <ion-item>
        <p>Numero de Casa</p>
      </ion-item>
      <ion-item>
        <p>Celular</p>
        <ion-button fill="outline">
          Editar
          <ion-icon slot="end" name="create"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <p>Correo Electronico</p>
        <ion-button fill="outline">
          Editar
          <ion-icon slot="end" name="create"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <p>Usuario</p>
        <ion-button fill="outline">
          Editar
          <ion-icon slot="end" name="create"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
