ion-title{
    text-align: center;
    color: black;
    font-family: 'Cakerolli Medium';
    font-weight: 100;
    font-size: larger;
}

ion-toolbar{
    background-color: var(--ion-color-mycolor);
}

.foto-usuario{
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-top: 20px;
}
h2{
    text-align: center;
}