/*Toolbar*/
.perfil{
    text-align: center;
    color: rgb(255, 255, 255);
}

ion-title{
    text-align: center;
    color: black;
    font-weight: 100;
    font-size: larger;
}

.foto-usuario{
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-top: 20px;
}
h2{
    text-align: center;
}