<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login-ad"></ion-back-button>
    </ion-buttons>
    <ion-title class="registroA">
      <b>Registro de Administrador</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo">
    <ion-img src="assets/img/fondo.png" alt="Cozy Gate"></ion-img>
  </div>
        <!--LOGO-->  
        <br>
        <ion-img src="assets/img/cg.png" alt="Cozy Gate" class="logo"></ion-img>
        <br>
        <div class="inicio">
        <h1 class="tRegistro"><b>Registro</b></h1>
        </div>
        <br>

        <!--Crear usuario-->
        <ion-input placeholder="Correo"
        label="Correo"  
        label-placement="floating" 
        fill="outline"
        error-Text="ingrese su correo"
        class="datos"
        ></ion-input>

        <br>
        <ion-input placeholder="Nombre de usuario"
        label="Nombre de usuario"  
        label-placement="floating" 
        fill="outline"
        error-Text="ingrese un usuario"
        class="datos"
        ></ion-input>

        <br>
        <ion-input placeholder="contraseña (6-8 carácteres)" 
        label="Contraseña" 
        label-placement="floating" 
        fill="outline"
        error-Text="ingrese un dato"
        type="password"
        class="datos"
        ></ion-input>

      <!--Btn Cancelar - Aceptar Registro-->
      <div class="btnRegistro">
        <button ion-button (click)="goToSesionA()" class="boton">Registrarse</button>
      </div>
      <div class="btnRegistro">
        <button ion-button (click)="cancelarRA()" class="boton">Cancelar</button>
      </div>
</ion-content>