<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login-ad"></ion-back-button>
    </ion-buttons>
    <ion-title class="registroA">
      <b>Actualizar contraseña</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo">
    <ion-img src="assets/img/fondo.png" alt="CozyGate"></ion-img>
  </div>
        <!--LOGO-->  
        <br>
        <ion-img src="assets/img/cg.png" alt="CozyGate" class="logo"></ion-img>
        <br>

        <!--Crear usuario-->
        <ion-input #user placeholder="Usuario"
        label="Usuario"  
        label-placement="floating" 
        fill="outline"
        error-Text="ingrese un usuario"
        class="datos"
        required
        ></ion-input>

          <!--Poner contraseña-->
          <br>
          <ion-input #pass placeholder="Contraseña* (6-8 dígitos)" 
          label="Contraseña"
          label-placement="floating" 
          fill="outline"
          error-Text="contraseña incorrecta"
          class="datos"
          required
          [type]="showPassword ? 'text' : 'password'">
          <!-- Ver y ocultar contraseña -->
            <ion-icon 
              slot="end" 
              name="{{ showPassword ? 'eye' : 'eye-off' }}" 
              (click)="togglePassword()"
              class="eyeP"
            ></ion-icon>
          </ion-input>

          <!--Poner nueva contraseña-->
          <br>
          <ion-input #Npass placeholder="Nueva contraseña" 
          label="Nueva contraseña"
          label-placement="floating" 
          fill="outline"
          error-Text="la contraseña no coincide"
          class="datos"
          required
          [type]="showPassword ? 'text' : 'password'">
          <!-- Ver y ocultar contraseña -->
            <ion-icon 
              slot="end" 
              name="{{ showPassword ? 'eye' : 'eye-off' }}" 
              (click)="togglePassword()"
              class="eyeP"
            ></ion-icon>
          </ion-input>

      <!--Btn Cancelar - Aceptar Registro-->
      <div class="btnRegistro">
        <button ion-button (click)="goToSesionA(user,pass,Npass)" class="boton"><b>Actualizar</b></button>
      </div>
      <div class="btnRegistro">
        <button ion-button (click)="cancelarRA()" class="boton"><b>Cancelar</b></button>
      </div>
</ion-content>