<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
    <ion-title class="admin">
      <b>Administrador</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo">
    <ion-img src="assets/img/fondo.png" alt="Cozy Gate"></ion-img>
  </div>
        <!--LOGO-->  
        <br>
        <ion-img src="assets/img/cg.png" alt="Cozy Gate" class="logo"></ion-img>
        <br>
      
        <!--Poner usuario-->
        <ion-input placeholder="Usuario" 
        label="Usuario"
        label-placement="floating" 
        fill="outline"
        error-Text="Usuario Incorrecto"
        class="datos"
        ></ion-input>
        
        <br>
         <!--Poner contraseña-->
        <ion-input placeholder="Contraseña* (6-8 dígitos)" 
        label="Contraseña"
        label-placement="floating" 
        fill="outline"
        error-Text="contraseña incorrecta"
        type="password"
        class="datos"
        ></ion-input>

      <!--Btn SesiónAdmin y Registro-->
       <div class="btnSesion">
        <button ion-button (click)="goToLista()" class="boton"><b>Iniciar sesión</b></button>
      </div>
      <div class="btnSesionOlv">
        <button ion-button (click)="goToNContraA()" class="conOl"><b>¿Olvidaste tu contraseña?</b></button>
      </div>
      <div class="btnReg">
        <button ion-button (click)="goToRegistroA()" class="boton"><b>Registrarse</b></button>
      </div>
</ion-content>


