<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title class="selector">
          <b>Selector de inicio</b>
        </ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
    <div class="contenido">
        <div class="fondo">
            <ion-img src="assets/img/fondo.png" alt="Cozy Gate"></ion-img>
        </div>
            <!--LOGO--> 
            <ion-img src="assets/img/cg.png" alt="Cozy Gate" class="logo"></ion-img>
            <!--Btn User-->
            <br>
            <button ion-button (click)="goToUser()" class="btnUser"><b>Iniciar sesión como usuario</b></button>
            <!--Btn Admin-->
            <button ion-button (click)="goToAdmin()" class="btnAdmin"><b>Iniciar sesión como admin</b></button>
        </div>
</ion-content>