
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="qrT"> 
      <ion-icon ion-button (click)="Back()" name="arrow-back"></ion-icon>

      <b>QR de Invitado</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-grid>
    <ion-row>
      <ion-col>

      </ion-col>
    </ion-row>
   
    <ion-card>
      
      <ion-card-content>
        <ion-list>
          <ion-item>
            
              <img alt="Silhouette of mountains" src="assets/img/qr.png" class="QR"/>
            
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>


    
    <ion-list>
      <ion-item>
        <p><b>Fecha</b></p>
      </ion-item>
      <ion-item>
        <p><b>Nombre</b></p>
      </ion-item>
      <ion-item>
        <p><b>Vehiculo</b></p>
      </ion-item>
      <ion-item>
        <p><b>Color</b></p>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>