<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title class="qrGen">
      <b>QR de Invitado</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 class="h1"><b>Visita programada</b></h1>
        <p class="txt">Tu visita ha sido generada, presenta el código 
          para entrar en la fecha y hora programada al fraccionamiento.</p>
      </ion-col>
    </ion-row>
   
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item>

            <qrcode class="codigo" [qrdata]="User._id"  [width]="200" [errorCorrectionLevel]="'M'"></qrcode>            
          
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-list>
      <ion-item>
        <p><b>Nombre de visitante:</b></p>
      </ion-item>
      <ion-item>
        <p><b>Tipo de visitante:</b></p>
      </ion-item>
      <ion-item>
        <p><b>Fecha de visita:</b></p>
      </ion-item>
      
    </ion-list>
  </ion-grid>
</ion-content>