/*Toolbar*/
.vehiculos{
    text-align: center;
    color: rgb(255, 255, 255);
}
ion-toolbar {
    ion-buttons[slot="start"] {
      width: 30px; /*ancho del back*/
      margin-right: 0;
    }
  
    ion-title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -30px; /*margen Izq*/
      width: calc(100% + 30px); /*ancho del Back*/
    }
  }

ion-title{
    text-align: center;
    color: black;
    font-weight: 100;
    font-size: larger;
}

.tt{
    text-align: center;
    color: #000000;
    font-size: 20px;
}

h2{
    text-align: center;
}

img{
    width: 350px;
    height: 200px;
    border: 3px solid #000000;
    margin: 9px;
}

.boton {
    min-width: 130px;
    height: 40px;
    color: #000000;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #87CEEB;
    box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;
    margin-top: 10px;
    margin: 36px;
    place-content: center;
  }
  .botones-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; 
  }
  
  /*Ajuste a diferentes pantallas*/
//Celular
@media (max-width: 576px) {
  ion-content {
    font-size: 14px;
    padding: 10px;
  }
}

//Tablets
@media (min-width: 577px) and (max-width: 991px) {
  ion-content {
    font-size: 16px;
    padding: 20px;
  }
}

//Computadora
@media (min-width: 992px) {
  ion-content {
    font-size: 18px;
    padding: 30px;
  }
}