<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title class="vehiculos">
      <b>Vehículos</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <h1 class="tt"><b>Registro de vehículos</b></h1>

  <h2 class="ttt">Si desea registrar los datos de su vehículo, ingrese los siguientes datos:</h2>

      <!--Registrar vehículo-->
      <ion-input placeholder="Modelo"
        label="Modelo"
        label-placement="floating"
        fill="outline"
        error-Text="Ingrese el modelo de su vehículo"
        class="datos"
        required>
      </ion-input>

      <ion-input placeholder="Año"
        label="Año"
        label-placement="floating"
        fill="outline"
        error-Text="Ingrese el año de su vehículo"
        class="datos"
        required>
      </ion-input>

      <ion-input placeholder="Color"
        label="Color"
        label-placement="floating"
        fill="outline"
        error-Text="Ingrese el color de su vehículo"
        class="datos"
        required>
      </ion-input>

      <ion-input placeholder="Placas"
        label="Placa"
        label-placement="floating"
        fill="outline"
        error-Text="Ingrese el número de placas de su vehículo"
        class="datos"
        required>
      </ion-input>

      <div class="image-container">
        <img class="fill" src="assets/icon/fondoVehiculo.png" alt="backLogo">
        <button class="boton">Subir imagen</button>
      </div>

      <!--Bloque separador-->
      <div class="bloque"></div>

      <br>
      <ion-grid>
      <h1 class="tt"><b>Datos del vehículo</b></h1>
        <ion-list>
          <ion-item>
            <ion-row>
              <ion-col size="4"><b>Modelo: </b></ion-col>
              <ion-col size="8">*****</ion-col>
              <ion-col size="4"></ion-col>
              <ion-col size="8" class="editar">
                <ion-button fill="outline">
                  Editar
                  <ion-icon slot="end" name="create"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-row>
              <ion-col size="4"><b>Año: </b></ion-col>
              <ion-col size="8">*****</ion-col>
              <ion-col size="4"></ion-col>
              <ion-col size="8" class="editar">
                <ion-button fill="outline">
                  Editar
                  <ion-icon slot="end" name="create"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-row>
              <ion-col size="4"><b>Color: </b></ion-col>
              <ion-col size="8">*****</ion-col>
              <ion-col size="4"></ion-col>
              <ion-col size="12" class="editar">
                <ion-button fill="outline">
                  Editar
                  <ion-icon slot="end" name="create"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-row>
              <ion-col size="4"><b>Placa: </b></ion-col>
              <ion-col size="8">*****</ion-col>
              <ion-col size="4"></ion-col>
              <ion-col size="8" class="editar">
                <ion-button fill="outline">
                  Editar
                  <ion-icon slot="end" name="create"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
        <div class="image-container">
          <img class="fill" src="assets/icon/fondoVehiculo.png" alt="backLogo">
          <button class="boton">Cambiar Imagen</button>
        </div>
      </ion-grid>
</ion-content>