<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="vehiculos">
      <b>Registro de vehículos</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-grid>
    <ion-list>
      <ion-item>
        <p><b>Modelo</b></p>
        <ion-button fill="outline">
          Editar
          <ion-icon slot="end" name="create"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <p><b>Año</b></p>
        <ion-button fill="outline">
          Editar
          <ion-icon slot="end" name="create"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <p><b>Color</b></p>
        <ion-button fill="outline">
          Editar
          <ion-icon slot="end" name="create"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <p><b>Placa</b></p>
        <ion-button fill="outline">
          Editar
          <ion-icon slot="end" name="create"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    <p></p>
    <img class="fill" src="assets/icon/fondoVehiculo.png" alt="backLogo">
    <img class="fill" src="assets/icon/fondoVehiculo.png" alt="backLogo">
    <button class="boton">Cambiar Imagen</button>
    <button class="boton">Cambiar Imagen</button>
  </ion-grid>
</ion-content>