<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login-ad"></ion-back-button>
    </ion-buttons>
    <ion-title class="contra">
      <b>Cambiar contraseña</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="fondo">
    <ion-img src="assets/img/fondo.png" alt="CozyGate"></ion-img>
  </div>
  <div class="container">
    <br>
    <ion-img src="assets/img/cg.png" alt="CozyGate" class="logo"></ion-img>
    <br>
   
      <ion-input placeholder="Usuario" 
      label="Usuario"
      label-placement="floating" 
      fill="outline"
      error-Text="usuario incorrecto"
      class="datosNew"
      required
      ></ion-input>

        <!--Poner contraseña actual-->
        <br>
        <ion-input placeholder="Contraseña actual" 
        label="Contraseña actual"
        label-placement="floating" 
        fill="outline"
        error-Text="contraseña incorrecta"
        class="datosNew"
        required
        [type]="showPassword ? 'text' : 'password'">
        <!-- Ver y ocultar contraseña -->
          <ion-icon 
            slot="end" 
            name="{{ showPassword ? 'eye' : 'eye-off' }}" 
            (click)="togglePassword()"
            class="eyeP"
          ></ion-icon>
        </ion-input>

         <!--Poner contraseña nueva-->
         <br>
         <ion-input placeholder="Nueva contraseña" 
         label="Nueva contraseña"
         label-placement="floating" 
         fill="outline"
         error-Text="Inserte de 6-8 carácteres"
         class="datosNew"
         required
         [type]="showPassword ? 'text' : 'password'">
         <!-- Ver y ocultar contraseña -->
           <ion-icon 
             slot="end" 
             name="{{ showPassword ? 'eye' : 'eye-off' }}" 
             (click)="togglePassword()"
             class="eyeP"
           ></ion-icon>
         </ion-input>

          <!--Poner contraseña confirmar-->
          <br>
          <ion-input placeholder="Confirmar contraseña" 
          label="Confirmar contraseña"
          label-placement="floating" 
          fill="outline"
          error-Text="la contraseña no coincide"
          class="datosNew"
          required
          [type]="showPassword ? 'text' : 'password'">
          <!-- Ver y ocultar contraseña -->
            <ion-icon 
              slot="end" 
              name="{{ showPassword ? 'eye' : 'eye-off' }}" 
              (click)="togglePassword()"
              class="eyeP"
            ></ion-icon>
          </ion-input>
      <br>

    <div class="divBtns">
      <button ion-button (click)="goToLoginA()" class="btnAceptar"><b>Aceptar</b></button>
    </div>
    <br>
    <div class="divBtns">
      <button ion-button (click)="goToLoginA()" class="btnCancelar"><b>Cancelar</b></button>
    </div>
  </div>
</ion-content>