/*Toolbar*/
.contra{
    text-align: center;
    color: rgb(255, 255, 255);
  }
  ion-toolbar {
    ion-buttons[slot="start"] {
      width: 30px; /*ancho del back*/
      margin-right: 0;
    }
  
    ion-title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -30px; /*margen Izq*/
      width: calc(100% + 30px); /*ancho del Back*/
    }
  }

/*Diseño logo*/
.logo{
    width: 130px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

/*Título Actualizar*/
.tActualizar{
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/*Div título*/
.actualizar{
    background: radial-gradient(#87CEEB, #4682B4);
    border-radius: 20px;
    width: 45%;
    height: 7%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Nuevos datos*/
.datosNew{
    width: 45%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

/*Botones Aceptar y Cancelar*/
/*Botón Aceptar*/
.btnAceptar{
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 20px;
    font-size: 15px;
    width: 45%;
    height: 20px;
    background-color: #87CEEB;
    margin-bottom: 5px;
}

/*Botón cancelar*/
.btnCancelar{
    color: rgb(0, 0, 0);
    background: #64CCC5;
    text-align: center;
    border-radius: 20px;
    font-size: 15px;
    width: 45%;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #87CEEB;
}

/*Div para botones*/
.divBtns{
    text-align: center;
}
